*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.primary-color{
    background-color: #1A0B2E;
    
}
.container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}
.primary-btn{
    padding: 12px 16px;
    color: white;
    border-radius: 30px;
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    font-size: 16px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.nd-btn{
    color: #00FF88;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #00FF88;
    border-radius: 100px;
    background: transparent;
    cursor: pointer;

}
.primary-btn:hover{
    border: 2px solid white;
    background: #1A0B2E;

}
.nd-btn:hover{
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    color: white;
}
header{
    padding: 15px 0;
    border-bottom: 1px solid #3f3c43;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li{
    list-style: none;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 80px;

}
.nav-menu a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.nav-menu a:hover{
    color: rgb(196, 190, 190);
}
.humberger-icon{
    display: none;
}
#hero-banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
.circle-img{
    position: relative;
    display: inline-block;
    margin-top: 70px;

    
}


.microphone {
    position: absolute;
    z-index: 20;
    top: 25%;
    right: 35%;
   
}
@keyframes glow {
    0%{
        box-shadow: #7b7b7b;
        
    }
    50%{
        box-shadow: 8px 2px 5px 3px rgb(255, 255, 255);
        
    }
    100%{
         box-shadow: #7b7b7b;
       
    }
}
.badg{
    position: absolute;
    top: 11%;
    right: 1%;
    animation: glow 1.5s ease-in-out infinite;
    
    /* left: 50%; */
}
.badg span{
    font-size: 16px;
    color:#1A0B2E ;
    background-color: #00FF88;
    border-radius: 20px;
    padding: 8px 10px;
}
.banner-content h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-top: 30px;
}
.banner-content{
    padding-bottom: 60px;
}
.banner-content p{
    font-size: 16px;
    color: rgb(219, 214, 214);
    font-weight: 400;
    margin:30px 0;
}
#about{
    padding: 50px 0;

}
.about-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-content h2{
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
}
.about-content>p{
    max-width: 750px;
    font-size: 16px;
    line-height: 30px;
    color: rgb(219, 214, 214);
    font-weight: 400;
    margin:15px 0;

}
.counter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    align-items: space-between;
    gap: 20px;
    padding: 90px 0;
    border-top: 1px solid #321d47;
}
.counter-box{
    text-align: center;
     width: 240px;
}
.counter-box h2{
    font-size: 48px;
    font-weight: 600;
    color: #00FF88;
    margin-bottom: 10px;
}
.counter-box p{
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(219, 214, 214);

}
.grid-section{
    background-color: #230E3D;
    padding: 100px 0;
}
.grid-section h2, .card-heading{
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}
.grid-layout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
    gap: 24px;
    
}
.grid-box{
    background: #2a0f45;
  padding: 30px;
  border-radius: 18px;
}
.grid-box h3, .third-heading{
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.grid-box p{
    font-size: 16px;
    line-height: 24px;
    color: rgb(219, 214, 214);
}
.grid-box *{
    margin-bottom: 17px;
}

.headphone{
    grid-row: span 2;
    align-content: center;
}

.device{
    grid-column: span 2;
}
 .zap-fast{
    grid-column: span 2;
}
   

.location{
    grid-column: span 2;
}
.Featured-episodes{
    padding: 70px 0;
}
.card-flex{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.card{
    background-color: #250D44;
    border-radius: 15px;
}
.inner-card{
    padding: 10px 20px;
}
.card *{
    margin-bottom: 19px;
}
.card iframe{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.inner-card p{
    font-size: 16px;
    line-height: 24px;
    color: rgb(219, 214, 214);

}
.card h5{
    font-size: 15px;
    color: #00FF88;
}
#host-section{
    padding: 0 0 80px;
}
.host-heading{
     font-size: 48px;
    font-weight: 700;
    color: white;
    padding: 30px 0;
    text-align: center;

}
#feedback{
    display: flex;
    gap: 30px;
    background-color: #250E44;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.host-content h3{
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin-bottom: 15px ;
}
.host-content p{
    font-size: 15px;
    line-height: 24px;
    font-weight: 100;
    color: rgb(219, 214, 214);
    margin-bottom: 20px;
}
.social-icon{
    display: flex;
    
    align-items: center;
    gap: 12px;
}

.icon{
    /* width: 50px;
    height: 50px; */
    padding: 10px;
    border: 1px solid #533C72;
    border-radius: 100%;
    text-align: center;
}
footer{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    /* background-position: center; */
    background-color: #250E44;
    text-align: center;
    padding: 80px 0;
}
footer img{
    width: 400px;
    max-width: 100%;
    padding-bottom: 60px;
}
.footer-grid{
    width: 600px;
    margin: 0 auto;
    display: flex;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 50px;
    color: #FAFAFA;
}
.footer-p{
    font-size: 14px;
    color: rgb(176, 173, 173);
}

@media screen and (max-width:992px){
    .counter{
        grid-template-columns: repeat(2, 1fr);
        
    }
     .humberger-icon{
        display: block;}

     .nav-menu{
        display: none;
    }
    nav button{
        display: none;
    }  
       .footer-grid{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    row-gap: 20px;
    
   } 
   footer{
    background-size: cover;
    
   }


}
/* Mobile */
@media screen and (max-width:576px){
    .container{
        width: 90%;
    }
    .humberger-icon{
        display: block;
    }
    .nav-menu{
        display: none;
    }
    nav button{
        display: none;
    }
    /* .circle-img{
        width: 100%;
    } */
     .banner-content h1{
        font-size: 45px;
     }
     .circle-img{
        width: 70%;
        margin-top: 70px;
     }
        .circle-img img{
            width: 100%;
        }
        .microphone{
            width: 35%;
        }

    .counter{
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 20px;
       row-gap: 50px;
    }
    .counter-box{
        width: 100%;
    }
    .counter-box p{
        font-size: 12px;
    }
    .counter h2{
        font-size: 40px;
    }
    .grid-layout{
        grid-template-columns: repeat(1,1fr);
    }
    .card-flex{
        flex-wrap: wrap;
    }
   .primary-heading{
    font-size: 25px;
   }
   #primary-heading{
    font-size: 32px;
   }
   .grid-section{
    padding: 60px 0px;
   }
   #feedback{
    flex-wrap: wrap;
   }
   footer{
    background-size:cover;
   
    padding: 50px 0;
   }
   footer img{
    width: 80%;
   }
   .footer-grid{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    row-gap: 20px;
    
   }
   



}
