*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.primary-color{
    background-color: #1A0B2E;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.primary-btn{
    padding: 12px 16px;
    color: white;
    border-radius: 1000px;
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    font-size: 16px;
}
.primary-btn:hover{
    border: 2px solid white;
    background: #1A0B2E;

}
header{
    padding: 15px 0;
    border-bottom: 1px solid gray;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li{
    list-style: none;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 80px;

}
.nav-menu a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.nav-menu a:hover{
    color: rgb(196, 190, 190);
    text-decoration: underline;
}