*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.primary-color{
    background-color: #1A0B2E;
    
}
.container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}
.primary-btn{
    padding: 12px 16px;
    color: white;
    border-radius: 30px;
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    font-size: 16px;
    border: none;
    text-align: center;
}

.nd-btn{
    color: #00FF88;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #00FF88;
    border-radius: 100px;
    background: transparent;

}
.primary-btn:hover{
    border: 2px solid white;
    background: #1A0B2E;

}
.nd-btn:hover{
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    color: white;
}
header{
    padding: 15px 0;
    border-bottom: 1px solid #3f3c43;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li{
    list-style: none;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 80px;

}
.nav-menu a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.nav-menu a:hover{
    color: rgb(196, 190, 190);
}
.humberger-icon{
    display: none;
}
#hero-banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
.circle-img{
    position: relative;
    display: inline-block;
    margin-top: 70px;
    
}
.microphone {
    position: absolute;
    z-index: 20;
    top: 25%;
    right: 35%;
}
.badg{
    position: absolute;
    top: 11%;
    right: 1%;
    /* left: 50%; */
}
.badg span{
    font-size: 14px;
    color: rgb(0, 0, 0);
    background-color: #00FF88;
    border-radius: 20px;
    padding: 8px 10px;
}
.banner-content h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-top: 30px;
}
.banner-content{
    padding-bottom: 60px;
}
.banner-content p{
    font-size: 16px;
    color: white;
    font-weight: 400;
    margin:30px 0;
}
#about{
    padding: 50px 0;

}
.about-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-content h2{
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
}
.about-content>p{
    max-width: 750px;
    font-size: 16px;
    line-height: 30px;
    color: white;
    font-weight: 400;
    margin:15px 0;

}
.counter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    align-items: space-between;
    gap: 20px;
    padding: 90px 0;
    border-top: 1px solid #321d47;
}
.counter-box{
    text-align: center;
     width: 240px;
}
.counter-box h2{
    font-size: 48px;
    font-weight: 600;
    color: #00FF88;
    margin-bottom: 10px;
}
.counter-box p{
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;

}
.grid-section{
    background-color: #230E3D;
    padding: 100px 0;
}
.grid-section h2, .card-heading{
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}
.grid-layout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
    gap: 24px;
    
}
.grid-box{
    background: #2a0f45;
  padding: 30px;
  border-radius: 18px;
}
.grid-box h3, .third-heading{
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.grid-box p{
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.grid-box *{
    margin-bottom: 17px;
}

.headphone{
    grid-row: span 2;
    align-content: center;
}

.device{
    grid-column: span 2;
}
 .zap-fast{
    grid-column: span 2;
}
   

.location{
    grid-column: span 2;
}
.Featured-episodes{
    padding: 70px 0;
}
.card-flex{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.card{
    background-color: #250D44;
    border-radius: 15px;
}
.inner-card{
    padding: 10px 20px;
}
.card *{
    margin-bottom: 19px;
}
.card iframe{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.inner-card p{
    font-size: 16px;
    line-height: 24px;
    color: white;

}
.card h5{
    font-size: 15px;
    color: #00FF88;
}

/* Mobile */
@media screen and (max-width:640px){
    .container{
        width: 90%;
    }
    .humberger-icon{
        display: block;
    }
    .nav-menu{
        display: none;
    }
    nav button{
        display: none;
    }
    /* .circle-img{
        width: 100%;
    } */
     .banner-content h1{
        font-size: 45px;
     }

    .counter{
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 20px;
       row-gap: 50px;
    }
    .counter-box{
        width: 100%;
    }
    .counter h2{
        font-size: 40px;
    }
    .grid-layout{
        grid-template-columns: repeat(1,1fr);
    }
    .card-flex{
        flex-wrap: wrap;
    }
   .primary-heading{
    font-size: 25px;
   }
   #primary-heading{
    font-size: 32px;
   }
   .grid-section{
    padding: 60px 0px;
   }



}
